form{
    width: 350px;
    margin: 25px auto;
    padding: 25px 30px 30px;
    border: 1px solid #ccc;
  }
  label{
    display: block;
    padding-bottom: 5px;
  }
  .col-md-12{
    margin-bottom: 10px;
    position: relative;
  }
  .button{
    text-align: center;
  }
  h4{
    text-align: center;
    text-decoration: underline;
  }
  
  select{
    width: 100%;
      padding: 7px;
  }
  
  span{
    color: red;
  }
  
  
  .optional{
    color: grey;
    font-size: 13px;
  }
  
  #toggle1{
    position: absolute;
    top: 50px;
    right: 24px;  
  }
  #toggle2{
    position: absolute;
    top: 50px;
    right: 24px;  
  }